.plans-area {
    background-color: #ece8e8;
    height: 70rem;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.plans-title-area {
    font-size: 2.5rem;
    margin-top: -8rem;
    margin-bottom: 1rem;
}

.plans-subtitle-area {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.selection-plan-area {
    display: flex;
    flex-direction: row;
}

.cards-payment-logo {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.card-img-item {
    width: 2.4rem;
    height: 1.5rem;
    border-radius: 0.4rem;
}

.card-imgs{
    display: flex;
    gap: 0.5rem;
}

.more-cards{
    margin-left: 1rem;
    position: relative;
}
.more-cards:hover{
    cursor: pointer;
}

.more-cards li{
    list-style: none;
}

.submenu{
    display: none;
    list-style: none;
    position: absolute;
    left: -1.2rem;

}

.submenu li img{
    width: 2.6rem;
    height: 1.7rem;
    border-radius: 0.2rem;
    border: 1px solid #ece8e8;

}

.more-cards:hover .submenu{
    display: block;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0.5rem;
    background-color: rgb(223, 223, 223);
    padding-left: 0;
    width: 10rem;
    height: 11rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    border: 1px solid #ece8e8;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

